
.contry-details-container,.country-borders{
    display: flex;
    align-items: center;
}


.contry-details-container{
    
    gap: rem(100);

    @include breakpoint-down(small){
        flex-direction: column;
        align-items: flex-start;

    }

    & > *{
        flex: 1;
    }
    .country-details, .country-props{
        display: flex;
        flex-direction: column;
    }

    .country-details{

        gap: rem(20);
        

        

        .properties{
            display: flex;
            justify-content: space-between;

            @include breakpoint-down (small){
                flex-direction: column;
                gap: rem(20);
            }
        }

        .country-props{
            gap: rem(10);
        }

        .country-borders, .borders{
            gap: rem(10);
            

        }

        .country-borders{
            @include breakpoint-down (small){
                flex-direction: column;
                gap: rem(20);
                align-items: flex-start;
            }
        }



            .borders{
                display: flex;

                &>*{
                    background-color: var(--clr-elements);
                    padding: rem(5);
                    border-radius: rem(5);
                }
            }
        
    }
    .country-details p > span, .country-borders p {
        font-weight: $weight-medium;
    }

}