body {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-size: rem(16);
    font-family: $font-nunito-san;
    font-weight: $weight-light;
    box-shadow: 0 4px 4px var(--clr-bg) ;

}


.main-container{
    
    padding: rem(30) rem(70);
    
    @include breakpoint-down(medium){
        padding: rem(30);
    }
    @include breakpoint-down(small){
        padding: rem(20);
    }

}

.hidden{
    display: none;
}