body {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-size: rem(14);
    font-family: $font-nunito-san;
    font-weight: $weight-light;
  }


// .page-container{
//     padding: 0 rem(40);
// }