.preference,
.search-input, .btn-back{
  display: flex;
  align-items: center;
}

.preference {
  justify-content: space-between;

  & > *{
    box-shadow: 0 0 4px var(--clr-shadow) ;

  }

  @include breakpoint-down(small) {
    flex-direction: column;
    align-items: unset;
    gap: rem(20);
  }

  .search-input {
    padding: rem(10) 0 rem(10) rem(20);
    background-color: var(--clr-elements);
    border-radius: rem(5);
    min-width: 30%;
    gap: rem(10);

    &-field::placeholder {
      color: var(--clr-text);
    }

    @include breakpoint-down(small) {
      min-width: 100%;
    }
  }

  input {
    width: 100%;
  }

  .filter {
    position: relative;
    width: rem(200);

    & > * {
      background-color: var(--clr-elements);
      padding: rem(10);
      border-radius: rem(5);
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(10);
    }

    &-options {
      position: absolute;
      top: rem(50);
      left: 0;
      right: 0;

      p{
          padding: rem(10);
      }

      p:hover{
        background-color: var(--clr-bg);

      }
    }
  }

  .btn-back{
    background-color: var(--clr-elements);
    padding: rem(10) rem(30);
    border-radius: rem(5);
    gap: rem(20);
  }
}
