// CONVERT PX TO REM AUTOMATICALLY
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


:root{

    // color
    // dark-mode
    --clr-dark-bg: hsl(207, 26%, 17%);
    --clr-dark-el: hsl(209, 23%, 22%);
    --clr-dark-input: hsl(0, 0%, 52%);
    --clr-dark-shadow: hsla(0, 0%, 52%, 0);

    // light-mode
    --clr-light-text: hsl(200, 15%, 8%);
    --clr-light-bg: hsl(0, 0%, 98%);
    --clr-light-shadow: hsla(0, 0%, 52%, 0.446);

    --clr-white: hsl(0, 0%, 100%);

}

.dark-mode{
    --clr-bg: var(--clr-dark-bg);
    --clr-elements: var(--clr-dark-el);
    --clr-text: var(--clr-white);
    --clr-shadow: var(var(--clr-dark-shadow))
}

.light-mode{
    --clr-bg: var(--clr-light-bg);
    --clr-elements: var(--clr-dark-el);
    --clr-text: var(--clr-light-text);
    --clr-shadow: var( --clr-light-shadow);
}



// font
$font-nunito-san: 'Nunito Sans', sans-serif;

// font weight
$weight-light : 300;
$weight-medium : 600;
$weight-bold : 800;









