// CONVERT PX TO REM AUTOMATICALLY
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}


:root{

    // color
    // dark-mode
    --clr-dark-mode-bg: hsl(207, 26%, 17%);
    --clr-dark-mode-el: hsl(209, 23%, 22%);
    --clr-dark-mode-input: hsl(0, 0%, 52%);

    // light-mode
    --clr-light-mode-text: hsl(200, 15%, 8%);
    --clr-light-mode-bg: hsl(0, 0%, 98%);

    --clr-white: hsl(0, 0%, 100%);

}

.dark-mode{
    --clr-bg: var(--clr-dark-mode-bg);
    --clr-elements: var(--clr-dark-mode-el);
    --clr-text: var(--clr-white);
}



// font
$font-nunito-san: 'Nunito Sans', sans-serif;

// font weight
$weight-light : 300;
$weight-medium : 600;
$weight-bold : 800;









